html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: linear-gradient(
    90deg,
    rgba(238, 241, 255, 1) 0%,
    rgba(212, 225, 252, 1) 47%,
    rgba(214, 245, 251, 1) 100%
  );
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.navbar {
  /* min-height: 60px; */
  background: #bad1c2;
  font-weight: bold;
}

.navbar .nav-item {
  font-size: 18px;
}

.navbar .user {
  position: absolute;
  top: 10px;
  right: 90px;
}
.breadcrumb a {
  font-weight: bold;
}

.content {
  border-radius: 20px;
  background: #ffff;
}

.thumbnail {
    width: 160px;
    height: 80px;
}

.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #f5f5f5;
}

.dropzone i {
  font-size: 5rem;
}

.dropzone .dz-message {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
}

.wrapper {
  position: relative;
}
.wrapper a {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #333;
}
.wrapper a:hover {
  color: red;
}

.page-print {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 10mm auto;
  font-size: 16px;
}

.atas-nama {
  margin-top: 75px;
}

.footer {
  background: #333;
  color: white;
  padding-top: 15px;
  margin-top: auto;
}
